{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-optional-chaining",
    "@babel/proposal-nullish-coalescing-operator",
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "smart" }]
  ]
}
