.DS_Store
/node_modules/
/src/node_modules/
/static/publish/
yarn-error.log
/cypress/screenshots/
.svelte-kit
build
pb_data
pb_data_backup
/tmp
/__build-stats__/
/workers/node_modules/
src/lib/.generated
.cache
.svelte
/bin/air
vite.config.js.timestamp-*

# Local Netlify folder
.netlify
src/app.html
.env
