@import "grid";
@import "../scss/mediaquery";

:global(body) {
  --shortcut-width: 270px;

  @include screen("large-desktop") {
    --shortcut-width: 320px;
  }

  @include screen("wide-desktop") {
    --shortcut-width: 350px;
  }
}

.container {
  display: flex;
  width: 100%;
  // min-height: 100vh;
  overflow: hidden;
  // overflow-x: hidden;
  // max-width: var(--max-width);

  --max-width: 56em;

  .page-content {
    --hero-bg: hsl(var(--primary-color-h), 85%, 35%);
    width: calc(100% - var(--shortcut-width));
    left: var(--shortcut-width);
    position: relative;
    // min-height: 100vh;

    @include screen("tablet") {
      width: 100%;
      left: 0;
      margin: 0 auto;
    }

    @include screen("small-mobile") {
      width: 100%;
      left: 0;
      margin: 0 auto;
    }
  }

  .hero {
    --padding-side: calc(50% - var(--max-width) / 2);
    --padding-top: 24px;
    --padding-bottom: 32px;
    // overflow: auto;
    // overflow-x: auto;
    width: auto;
    padding: var(--padding-top) var(--padding-side) var(--padding-bottom) var(--padding-side);

    &::before {
      --color1: var(--primary-color-lighten-2);
      --color2: var(--background-color);
      --color3: var(--background-color);
      $size: 40%;
      content: "";
      position: absolute;
      width: 100% + $size;
      height: 100% + $size;
      top: math.div($size, -2);
      left: math.div($size, -2);
      z-index: -1;
      background: radial-gradient(
        circle at top,
        var(--color1) 0%,
        var(--color2) 70%,
        var(--color3) 100%
      );

      :global {
        html.light & {
          --color1: var(--primary-color-darken-2);
          // --color2: var(--primary-color-lighten-4);
        }
      }
    }
  }
}

.horizontal-line {
  $thickness: 2.5px;
  position: absolute;
  width: 180%;
  left: -40%;
  top: 0;
  height: $thickness;
  background: linear-gradient(to right, #fff0, #fff5, #fff0);
  border-radius: math.div($thickness, 2);
}

@import "globals";
@import "extend";
