@font-face {
  font-family: Garamond;
  src: url("/fonts/EBGaramond-VariableFont_wght.woff2");
  font-weight: 1 999;
}

@font-face {
  font-family: Garamond;
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.woff2");
  font-style: italic;
  font-weight: 1 999;
}

// @font-face {
//   font-family: Roboto;
//   src: url("/fonts/EBGaramond-VariableFont_wght.woff2");
//   font-weight: 1 999;
//   font-swap: display;
// }

// @font-face {
//   font-family: Roboto;
//   src: url("/fonts/EBGaramond-Italic-VariableFont_wght.woff2");
//   font-style: italic;
//   font-weight: 1 999;
//   font-swap: display;
// }
