@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Light-preload.woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Medium-preload.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular-preload.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Italic-preload.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Bold-preload.woff2");
  font-weight: 700;
  font-display: swap;
}
