@import "style/scss/color";

$primary-color-hue: 15;
$primary-color-saturate: 100%;
$primary-color-light: 50%;
$primary-color: hsl($primary-color-hue, $primary-color-saturate, $primary-color-light);

@function colorDarken($saturate, $light) {
  $result: hsl(
    var(--primary-color-h),
    #{$primary-color-saturate - $saturate},
    #{$primary-color-light - $light}
  );
  @return $result;
}

@function colorLighten($saturate, $light) {
  $result: hsl(
    var(--primary-color-h),
    #{$primary-color-saturate - $saturate},
    #{$primary-color-light + $light}
  );
  @return $result;
}

:root {
  --sidebar-width: 64px;
  --header-height: 56px;
  --primary-color-h: #{$primary-color-hue};
  --primary-color-s: #{$primary-color-saturate};
  --primary-color-l: #{$primary-color-light};
  --primary-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
  --primary-color-darken-1: #{colorDarken(0, 4)};
  --primary-color-darken-2: #{colorDarken(3, 12)};
  --primary-color-darken-3: #{colorDarken(8, 28)};
  --primary-color-darken-4: #{colorDarken(16, 42)};
  --primary-color-lighten-1: #{colorLighten(0, 4)};
  --primary-color-lighten-2: #{colorLighten(3, 10)};
  --primary-color-lighten-3: #{colorLighten(8, 24)};
  --primary-color-lighten-4: #{colorLighten(16, 36)};
  // --foreground-color: hsla(#{$primary-color-hue}, 20%, 50%, 1);
  --foreground-color: #222;
  --foreground-color-alpha: #2220;
  --background-color: #111;
  --background-color-alpha: #1110;
  --text-body-color: #fffd;
  --text-head-color: #fff;

  // layout
  --mobile-body-side-margin: 18px;
  --mobile-menu-height: 56px;

  // color
  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }
}

html.light {
  --text-body-color: #000d;
  --text-head-color: #000;
  --foreground-color: #fff;
  --foreground-color-alpha: #fff0;
  --background-color: #f6f6f6;
  --background-color-alpha: #f6f6f600;
}
