@mixin screen($size) {
  $ultra-wide-desktop: "(min-width: 3000px)";
  $wide-desktop: "(min-width: 2200px)";
  $large-desktop: "(min-width: 1800px)";
  $desktop: "(min-width: 1500px)";
  $small-desktop: "(min-width: 1201px)";
  $tablet: "(max-width: 1200px)";
  $small-tablet: "(max-width: 1023px)";
  $mobile: "(max-width: 767px)";
  $small-mobile: "(max-width: 480px)";
  $feature-phone: "(max-width: 320px)";
  @if $size == ultra-wide-desktop {
    @media only screen and #{$ultra-wide-desktop} {
      @content;
    }
  } @else if $size == wide-desktop {
    @media only screen and #{$wide-desktop} {
      @content;
    }
  } @else if $size == large-desktop {
    @media only screen and #{$large-desktop} {
      @content;
    }
  } @else if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  } @else if $size == small-desktop {
    @media only screen and #{$small-desktop} {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  } @else if $size == small-tablet {
    @media only screen and #{$small-tablet} {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  } @else if $size == small-mobile {
    @media only screen and #{$small-mobile} {
      @content;
    }
  } @else if $size == feature-phone {
    @media only screen and #{$feature-phone} {
      @content;
    }
  } @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}
